nav a {
    text-decoration: none;
    margin-right: 15px;
    margin-left: 15px;
    padding: 10px;
}
nav {
    display: flex;
    text-align: end;
}
nav a:hover {
    background-color: rgb(37, 138, 179);
    color: white;
}
.login-button {
    background-color: rgb(37, 138, 179);
    color: white;
}
.site-title {
    margin-left: 20%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 900;
}
.header-section {
    height: 60px;
    margin-top: 1%;
}